# NON MODIFICARE IL FILE

# questo file contiene file, cartelle che NON devono essere visibili su github, come per esempio i file dbconfig non vogliamo che la gente sappia le informazioni personali...
# ovviamente ognugno avra i suoi locali 

# cartella .vscode, ognuno con la sua personlae
.vscode/

databases/*.sql
databases/info5n2526__team2.sql

# NON CARICATE IL FILE src/config/dbconfig.php, su github sara' caricato un file .example per completezza ma non l'originale!
src/config/dbconfig.php

# permetti il caricamente dell'esempio
!src/config/dbconfig.example.php

# dati dei database
utils/popolaDB.php
utils/libri_2025.json

generate_table/

logs/
databases/info5n2526__team2.sql

*.bat
*.phar
docs/
.phpdoc/